extends layout

block content
  .starter-template
    h1 FINE-GRAINED DATA ACCESS CONTROL
      | THROUGH ACTIVE PEER PROBING
    br
    br
    br
    br
    br

    h3 by: 
      | Osnat Drien
    
    h3 Advisor: 
      | Yael Amsterdamer
